/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    height: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../images/cork-wallet.png")
}

    .content {
    flex: 1 0 auto;
} 

/*header style*/

header {
    background: white;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
}

.header-wrapper {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name   {
    color: white;
    background: #55aaa4;
    Height: 80px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

nav a {
    padding: 15px 20px;
    text-decoration: none;
}

 /*content section*/

.content-wrapper    {
    width: 960px;
    margin: 120px auto 60px auto;
    display: flex;
    justify-content: space-between;
}

/*about me*/

.content-main-section {
    width: 650px;
    background: white;
    padding: 25px 25px;
}

.about-me {
    padding: 0px 0px 20px 15px;
}

.content-main-section p {
    line-height: 2;
    text-indent: 25px;
}

.section    {
    padding-top: 10px;
}

/*form*/

.input {
    width: 100%;
    margin: 5px auto;
}

.label {
    margin: 20px 0px;

}

.submit {
    display:inline-block;
    background-color: #55aaa4;
    color: white;
    padding:10px 30px;
    margin: 10px auto;
    text-decoration: none;
}

.msg {
    min-height: 120px;
    min-width: 600px;
    max-width: 600px;
}


/*connect with me*/

.connect    {
    width: 270px;
    height: 200px;
    background: white;
}

.connect-with-me {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;  
}

.hr-connect {
    width: 75%;
    border-top: .25px solid #cacdcd;
    margin: 0 auto;
}

.icons-connect {
    height: 50%;
    padding: 0px 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*footer style*/

.footer {
    background: #666666;
    height: 80px;
    width: 100%;
    margin-top: auto;
    flex-shrink: 0;
}

.footer-text {
    text-align: center;
    font-size: .75em;
    padding-top: 30px;
    color: white;
}

/*line style*/

.hr-thick { 
   border-top: 2px solid #cacdcd;
   margin: 0 auto;
}

.hr-footer {
    border: 5px solid #5daaa3;
    margin: 0 auto;
}


/*font*/

p, nav a, .label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: grey;
}


h1, h2, h3  {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #55aaa4;
}

h1 { 
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}


/*images*/

.resize-icon {
    width: 60px;
    height: 60px;
}

.profile-picture    {
    float: left;
    width: 200px;
    height: auto;
    padding: 10px 15px 0px 0px;
}

  